<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89770953034-ljslefc5nvmg54bd7nkgnbfa6gk9pdqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89770953034-ljslefc5nvmg54bd7nkgnbfa6gk9pdqj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>89770953034-5vtjcr47844hdm34scgd4ev13q4v26lr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXqi4fkCFKXbAKKSDgcUhJLNGFcqH0nqs</string>
	<key>GCM_SENDER_ID</key>
	<string>89770953034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobileproject2k20.lumiere</string>
	<key>PROJECT_ID</key>
	<string>lumiere-8a464</string>
	<key>STORAGE_BUCKET</key>
	<string>lumiere-8a464.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89770953034:ios:6c1ad995cfebbedc7799b3</string>
	<key>DATABASE_URL</key>
	<string>https://lumiere-8a464.firebaseio.com</string>
</dict>
</plist>